@import "tailwindcss";


/* Light */
@font-face {
	font-family: 'Freight Display Pro';
	src: url('/fonts/FreightDispProLight-Regular.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Freight Display Pro';
	src: url('/fonts/FreightDispProLight-Italic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

/* Book (Regular) */
@font-face {
	font-family: 'Freight Display Pro';
	src: url('/fonts/FreightDispProBook-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Freight Display Pro';
	src: url('/fonts/FreightDispProBook-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

/* Medium */
@font-face {
	font-family: 'Freight Display Pro';
	src: url('/fonts/FreightDispProMedium-Regular.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Freight Display Pro';
	src: url('/fonts/FreightDispProMedium-Italic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

/* SemiBold */
@font-face {
	font-family: 'Freight Display Pro';
	src: url('/fonts/FreightDispProSemiBold-Regular.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Freight Display Pro';
	src: url('/fonts/FreightDispProSemiBold-Italic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

/* Bold */
@font-face {
	font-family: 'Freight Display Pro';
	src: url('/fonts/FreightDispProBold-Regular.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Freight Display Pro';
	src: url('/fonts/FreightDispProBold-Italic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

/* Black */
@font-face {
	font-family: 'Freight Display Pro';
	src: url('/fonts/FreightDispProBlack-Regular.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Freight Display Pro';
	src: url('/fonts/FreightDispProBlack-Italic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

/* borderRadius: '50%/50%', width: '250px', height: '100px'*/
